
<div id="<%= dom_id excel_file %>">
  <p>
    <strong>Name:</strong>
    <%= excel_file.name %>
  </p>

  <% if excel_file.file.attached? %>
    <p>
      <strong>File:</strong>
      <%= link_to excel_file.file.filename, course_upload_courses_path %>
    </p>
  <% end %>
</div>