<h1>Course Schedule</h1>

<% @classes.each do |course_class| %>
  <div>
    <%= course_class.course %>: 
    <%= course_class.start_time.strftime('%I:%M %p') %> - 
    <%= course_class.end_time.strftime('%I:%M %p') %> 
    on <%= course_class.days.join(', ') %>
  </div>
<% end %>