<%#= image_tag 'TAMU Logo Header.png', alt: 'Header Image', class: 'header-image' %>

<!-- Back to Dashboard Button -->
<div>
  <% if current_user %>
    <%# dashboard_path = current_user.admin? ? admin_dashboard_path : students_dashboard_path %>
    <%#= link_to "Back to Dashboard", dashboard_path, class: 'dashboard-button' %>
  <% end %>
</div>
<% if current_user %>
  <div>
    <%= link_to "Logout", logout_session_path, method: :get, class: 'logout-link' %>
  </div>
<% end %>
