<section class="section-wrap">
  <div class="linked-card-group">
    <div class="section-intro">
      <div class="section-intro__container">
        <div class="section-intro__content">
          <div class="heading-group">
            <% if @current_user %>
              <h1>Howdy, <%= @current_user.first_name %>!</h1>
              <p class="section-intro__description"></p>
              <% if @current_user.admin? %>
                <%= render 'layouts/admin_index' %>
              <% else %>
                <%= render 'layouts/user_index' %>
              <% end %>
            <% else %>
              <h1>Please log in to view available blocks</h1>
              <p>
                <%= button_to "Login with Google", "/auth/google_oauth2", data: { turbo: "false" } %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
