<h1>Upload history</h1>
<table>
  <thead>
  <tr>
    <th>Document</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @documents.each do |d| %>
    <tr>
      <td>
        <% if document.file.attached? %>
          <%= link_to 'Download', url_for(document.file), target: '_blank', rel: 'noopener' %>
        <% else %>
          No file attached
        <% end %>
      </td>

      <td>
        <%= link_to 'Edit', edit_document_path(document) %> |
        <%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>