<div class="<%= dom_id role %>">
  <h2><%= role.name %></h2>
  <p>
    <strong>
      Id
    </strong>
    <%= role.id %>
  </p>
  <p>
    <strong>
      Name
    </strong>
    <%= role.name %>
  </p>
</div>
