/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.slab-group {
    display: flex;
    width: 100%;
}

.slab-option {
    display: flex;
    width: 25%;
    padding: 10px;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%; /* Ensure full height */
    margin: 0px; /* Remove default margin */
}

/*body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-height: 100vh; !* Ensures the body takes at least the full viewport height *!*/
/*    margin: 0; !* Removes default margin *!*/
/*}*/

/*header {*/
/*    background-color: maroon; !* Maroon background color *!*/
/*    padding: 10px; !* Add padding to the header *!*/
/*    display: flex;*/
/*    align-items: center;*/
/*    color: white;*/
/*    position: relative;*/
/*}*/

/*footer {*/
/*    background-color: maroon; !* Maroon background color *!*/
/*    padding: 20px; !* Add padding to the footer *!*/
/*    margin-top: auto;*/
/*}*/

/*.header-image {*/
/*    display: block; !* Ensure images behave like block elements *!*/
/*    margin-right: 15px; !* Add spacing *!*/
/*    max-width: 50px; !* Ensure images are responsive *!*/
/*}*/

/*.footer-image {*/
/*    display: block; !* Ensure images behave like block elements *!*/
/*    margin: 0; !* Reset margin *!*/
/*    max-width: 100px; !* Ensure images are responsive *!*/
/*}*/

/*.header-navigation {*/
/*    margin-right: auto; !* Aligns to the left *!*/
/*}*/

/*.dashboard-button, .logout-link {*/
/*    font-size: 16px;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    padding: 8px 16px;*/
/*    border-radius: 5px;*/
/*    background-color: #5c0000; !* Dark maroon background *!*/
/*    font-weight: bold;*/
/*    transition: background-color 0.3s ease;*/
/*    margin-left: 10px; !* Add spacing between buttons *!*/
/*}*/

/*.dashboard-button:hover, .logout-link:hover {*/
/*    background-color: #7a0000; !* Lighter maroon on hover *!*/
/*}*/

/*.header-logout {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 20px;*/
/*}*/

/*.maroon-line {*/
/*    background-color: maroon; !* Set background color to maroon *!*/
/*    height: 5px; !* Height of the line *!*/
/*    width: 100%; !* Full width of the container *!*/
/*}*/

/*.dashboard-container {*/
/*    display: flex; !* Use flexbox for layout *!*/
/*    justify-content: space-between; !* Distribute space evenly *!*/
/*    padding: 20px; !* Add padding around the container *!*/
/*}*/

/*.dashboard-block {*/
/*    background-color: #800000; !* Maroon *!*/
/*    color: white; !* White text *!*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    border-radius: 8px; !* Rounded corners *!*/
/*    cursor: pointer; !* Indicates that the block is clickable *!*/
/*    transition: background-color 0.3s; !* Smooth transition for hover effect *!*/
/*    flex: 1; !* Make each block grow equally *!*/
/*    margin: 0 10px; !* Add horizontal margin between blocks *!*/
/*    min-width: 150px; !* Set a minimum width to ensure blocks stay square *!*/
/*    height: 200px;*/
/*}*/

/*.dashboard-block:hover {*/
/*    background-color: #a00000; !* Lighter maroon on hover *!*/
/*}*/
