/* schedule_viewer.css */
table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto 20px auto;
}
h1 {
  margin: 20px 10%;
}
th {
  background-color: #500000 !important;
  color: #FFFFFF !important;
}
td {
  padding: 0 0 0 16px !important;
  font-size: 12px;
}
th, td {
  width: 16.66%;
}
.timetable-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.class-block {
  position: absolute;
  background-color: #732f2f;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  width: 13.34%;
  height: 47px;
}
.class-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
