<footer class="footer--slim">
  <div class="footer__compliance-wrapper">
    <div class="footer__compliance">
      <ul class="compliance__list">
        <li>
          © <span id="current-year"></span>
          Texas A&amp;M University
        </li>
      </ul>
    </div>
  </div>
</footer>