<header id="navbar" class="main-header site-header--alt show-for-medium">
  <nav class="utility-nav utility-nav--department">
    <div class="utility-nav__container">
      <div class="site-header__back">
        <%= link_to pages_path do %>
          <svg><use href="#aux_arrow-up-right"></use></svg>
          Texas A&amp;M University
        <% end %>
      </div>
<!--      <div class="utility-nav__right"><%#= link_to "Logout", destroy_user_session_path, class: "btn" %></div>-->
    </div>
  </nav>

  <div class="site-header__identity">
    <div class="identity">
      <%=link_to welcome_path do %>
        <div class="identity__logo">
          <%= image_tag "/boxTAM.svg", alt: "Texas A&M University logo" %>
        </div>
        <div class="identity__wordmark">
          <span class="wordmark__small">Texas A&amp;M University</span>
          <span class="wordmark__large">Engineering Academies</span>
        </div>
      <% end %>
    </div>

  </div>
</header>

<header class="mobile-header site-header--alt show-for-small-only" id="mobile-navbar">
  <div class="site-header__back">
    <a href="https://www.tamu.edu/">
      <svg><use href="#aux_arrow-up-right"></use></svg>
      Texas A&amp;M University
    </a>
  </div>
  <div class="mobile-header__identity">
    <div class="identity">
      <a href="#">
        <div class="identity__logo">
          <img
            alt="Texas A&amp;M University logo"
            src="https://aux.tamu.edu/logos/boxTAM.svg"
            />
        </div>
        <div class="identity__wordmark">
          <span class="wordmark__small">Texas A&amp;M University</span>
          <span class="wordmark__large">Engineering Academies</span>
        </div>
      </a>
    </div>
  </div>
  <div class="mobile-toggle">
    <button class="mobile-toggle__menu mobile-nav__menu" aria-expanded="false" aria-pressed="false" data-mobilemenu="menu-mobile">
      Menu
    <div class="menu__icon"><span></span></div>
    </button>
    <button class="mobile-toggle__quicklinks-search">
      Search
      <svg>
        <use href="#aux_search"></use>
      </svg>
    </button>
  </div>
</header>